<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      a{
        color:skyblue;
        font-size: 18px;
        text-decoration: none;
      }
      form{
        margin-left: 15px;
        margin-top: 10px;
      }
      ul{
        list-style-type: none;
      }
      li{
        border-bottom: 2px solid black;
        width: 500px;
      }
   </style>
</head>
<body>
   <form action="/msg" method="POST">
     <div>用户名:<input type="text" name="username"></div>
     <div>留&nbsp;&nbsp;&nbsp;言: <textarea name="msg" id="" cols="30" rows="10"></textarea> </div>
     <div>
       <input type="submit" value="发言">
    </div>
   </form>  
   <h1>留言信息</h1>
  <ul>
    <% for(var i=0;i<docs.length;i++){ %>
        <% if(docs[i].name && docs[i].msg){ %>
        <li>
          <%= docs[i].name %>说  <br>
          <%= docs[i].msg %>
       </li>
    <% } %>
    <% } %>
  </ul>
</body>
</html>