<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      a{
        color:skyblue;
        font-size: 18px;
        margin:15px;
        text-decoration: none;
      }
      form{
        margin-left: 15px;
        margin-top: 10px;
      }
   </style>
</head>
<body>
   <form action="/regist" method="POST">
     <div>用户名:<input type="text" name="username"></div>
     <div>密&nbsp;&nbsp;&nbsp;码:<input type="password" name="password"></div>
     <div><input type="submit" value="注册">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已经有账号?<a href="/login">直接登录</a></div>
  </form>
</body>
</html>